.cbp
.cproject
.project
.pydevproject
.settings
.classpath
.classpath-generated
.project-generated
ros.properties
dependencies.xml
cmake_install.cmake
build/
bin/
msg_gen/
srv_gen/
*.pyc
.gradle/
.svn
*.bak
CMakeFiles/
*~
CMakeCache.txt
Makefile.ros
*.swp
*/msg/*Feedback.msg
*/msg/*Goal.msg
*/msg/*Action.msg
*/msg/*Result.msg
*/src/*/cfg
*/src/*/msg
*/src/*/srv
leap_node/src/leap_node/__init__.py
race_imagination/src/race_imagination/__init__.py
topple_scenarios/src/topple_scenarios/__init__.py
topple_scenarios/lib/
*.bag
